body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgray;
  border-width: 5px;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

h1 {
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;

}

.linear-wipe{
  text-align: center;
  background: linear-gradient(to right, #40514E, #F4EEED , #40514E);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear 1;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #5E604D;
  font-weight: normal;
  padding-bottom: 10px;
  margin-top: 20px;
}
.web-wipe {
  font-family: 'Montserrat', sans-serif;

  text-align: center;
  background: linear-gradient(to right, #40514E, #F4EEED, #40514E);
  background-size: 200% auto;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine2 5s linear 1;
  }
  @keyframes shine2 {
    to {
      background-position: 200% center;
    }
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #5E604D;
}

.top-container {
  position: relative;
  background-color: #EFD9D1;
  padding-top: 100px;
  padding-bottom: 150px;
}

.middle-container {
  position: absolute;
  background-color: #F4EEED;
}

.bottom-container {
  background-color: #EFD9D1;
  padding: 50px 0 20px;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.skill-row2 {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}



.rebecca-pro {
  margin-top: 40PX;
}
.hello {
  font-size: 2.75rem;
}

.intro {
  width: 55%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px
}

.copyright {
  color: #5E604D;
  font-size: 0.75rem;
  padding: 20px 0;
}

.scotia-logo {
  width: 10%;
  float: left;
  margin-right: 30px;
}

.bmo-logo {
  width: 15%;
  float: left;
  margin-left: 15px;
  padding-right: 30px
}

.resume {
  margin-left:
}

.btn {
  background: #F4EEED;
  background-image: -webkit-linear-gradient(top, #F4EEED, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
